$ui-color-1: #222831;
$ui-color-2: #393e46;
$ui-color-3: #d65a31;
$ui-color-4: #eeeeee;

$height-nav: 50px;
$height-bottom: 100px;

$ui-transition: 0.5s ease-in-out;
$hover-transition: 0.25s ease-in;
